# Sesion 2 : Celdas de Código
   ## - Variables y Asignación
   ## - Tipos de Datos y Conversión de tipos

### Operadores Aritméticos

In [ ]:
# + suma
# - resta
# * multiplicación
# / división
# // División entera
# % resto
# ** exponenciación

In [ ]:
# Escribe una función que imprima Hola Python! 
print("Hola Python")

In [ ]:
# Ejercicio escribe una función que imprima "Hola!"

In [ ]:
# Escribiste tu primer código!
print("escribiste tu primer código!")

El ejemplo "Hola!" tiene 3 componentes importantes: ***un comentario, la función print y una string o cadena de caracteres***, que mas adelante lo vamos a ver.

### **Comentarios**
* Los comentarios nos ayudan a comunicar el propósito de nuestro código a nosotros mismos en un futuro y para otros usuarios.

* Los comentarios no se ejecutarán ni se imprimirán para el usuario cuando se ejecute nuestro código.

* Es una buena práctica agregar comentarios a lo largo de nuestro código. Usaremos comentarios a menudo en este workshop.

* Los comentarios se pueden agregar antes, después o junto a nuestro código.

In [ ]:
# Para escribir un comentario, se debe incluir una etiqueta hash o numeral(#) adelante de la frase.
# asi de simple es.

### **Función Print**

* La función llamada **print** imprimirá o mostrará datos al usuario.
* La función de impresión se escribe como print () con los datos colocados entre paréntesis.
* Para procesar una cadena de caracteres o string a la salida, se debe escribir el mismo entre comillas simples o dobles.
* Para procesar números no se necesita comillas.
* Los valores pasados a la función se denominan argumentos

In [ ]:
# Imprime el número entero (integer) 8.

In [ ]:
# Imprime la string (cadena de caracteres) "Buenas noches"

In [ ]:
# Imprime el resultado de una suma matemática. 46+33-10

### **Strings o cadena de caracteres**

* Una cadena es una serie de caracteres, que pueden incluir letras, números y caracteres especiales como signos de exclamación.

* Podemos utilizar los siguientes formatos para imprimir una string: 1) comillas simples (un apóstrofo), 2) comillas dobles o 3) comillas simples triples (tres apóstrofos).

    - print('comillas simples')

    - print("comillas dobles")

    - print('''comillas simples triples''')

In [ ]:
# Cuando ejecutamos el siguiente código, las siguientes funciones imprimirán el mismo resultado.
print('Hello pythonistas!') 
print("Hello pythonistas!") 
print('''Hello pythonistas!''')

# Para trabajar con múltiples lineas a la vez.
print('''
Hello pythonistas1
Hello pythonistas2
''')

In [ ]:
# Imprime en los formatos aprendidos la string: python es genial

In [ ]:
# Multiplica una string por un número entero(integer).
print("Hola" * 3)

In [ ]:
# multilica la string python por el número 20

In [ ]:
# También podemos concatenar (unir) más de una string.
# Usaremos la concatenación a menudo en sesiones futuras.

print("a" + "b" + "c ")
# Tenga en cuenta el espacio después de cada strig en este ejemplo es cómo se ejecuta el código.

In [ ]:
# Ejercicio: concatena hola, mucho gusto!
print("Hola, " + "mucho gusto" + "!")

In [ ]:
# Se puede separar argumentos 
# print pone automáticamente un espacio simple entre los ítems para separarlos.
print("Hola,", "a" ,"todos", 4)

## Usa la función incorporada *len* para encontrar la longitud de una string

In [ ]:
# Verifique la longitud de los caracteres de una cadena usando la función len ().

print(len('helium'))

In [ ]:
# Encuentra la longitud de la string 'Open_Science_Labs'

In [ ]:
# Las secuencias de caracteres tienen una longitud (pero los números no tienen).
print(len(52))

## Usa un índice para obtener un solo caracter de una string

In [ ]:
# Cada posición en la string recibe un número. A este número se le llama índice o,a veces, subíndice.
# Los índices están numerados a partir del 0.
# Ejemplo helium h=0, e=1, l=2, i=3, u=4, m=5)
# Usa el índice de la posición entre corchetes para obtener el carácter en esa posición.

print('helium'[2])

## Usa un corte para obtener una parte de una string

In [ ]:
# Tomamos un corte usando [inicio:fin], donde inicio es reemplazado por el índice del primer elemento que queremos 
# y fin es reemplazado por el índice del elemento justo después del último elemento que queremos.
print("sodioum"[0:4])
print("sodioum"[:2])
print("sodioum"[:])

# **Variables**

* Variables son nombres de valores, que almacenan nuestros datos.
* La variable es creada en el momento que se le asigna un valor.
* Cuando el código se ejecuta en una variable, Python recupera el valor asignado a la variable para la función que se está ejecutando.
* En Python el símbolo = asigna el valor que se encuentra a la derecha al nombre que se encuentra a la izquierda.

In [ ]:
name = "Andrea"
print(name)

In [ ]:
# Ejercicio: crea e imprime las variables nombre = tu nombre, altura y genero.

In [ ]:
# Se asigna una edad a la variable age y un nombre entre comillas a la variable first_name.

age = 42
first_name = "Ahmed"
print(age, first_name)

In [ ]:
# Los valores pasados a la función se denominan argumentos.
# Puedes pasar a la funcion print variables de tipo numerico o de texto, strings literales y numeros.
print(first_name, "is", age, "years old")

### Nombres de las variables
* Los nombres de las variables pueden ser una sola letra, una palabra o varias palabras separadas por guiones bajos, todo en minúsculas.
* No se puede comenzar con un dígito.
* Python distingue mayúsculas de minúsculas (age, Age y AGE son tres variables diferentes).
* Existen convenciones para usar letras mayúsculas al comienzo de los nombres de las variables, por ahora nosotros usaremos letras minúsculas.
* Los nombres de variables que comiencen con un guión bajo __alistairs_real_age tienen un significado especial , por lo cual no lo usaremos hasta que comprendamos la convención.

* A continuación, se muestran algunos ejemplos:

In [ ]:
# Las variables pueden ser usadas en cálculos.
age = age + 3
print("Age in three years:", age)

In [ ]:
# Las variables deben ser creadas antes de ser utilizadas.
print(last_name)

### Las variables persisten entre celdas

* El orden de ejecución en las celdas es importante en un cuaderno (notebook) de Jupyter, no el orden en que aparecen. 
* Python recordará todo el código que se ejecutó anteriormente, incluidas las variables que hayas definido, independientemente del orden en el cuaderno. 
* Por lo tanto, si defines variables más abajo en el cuaderno y luego (re) ejecutas las celdas más arriba, estas definidas más abajo aún estarán presentes. tenemos dos celdas en el siguiente orden:

In [ ]:
print(myval)

In [ ]:
myval = 1

Si lo ejecutas en este orden, la primera celda dará un error. Sin embargo, si ejecutas la primera celda después de la segunda celda, se mostrará 1. Para evitar confusiones, puede ser de ayuda usar la opción del Kernel -> Restart & Run All que borra el intérprete y ejecuta todo desde una pantalla limpia, yendo de arriba a abajo.

## **Tipos de datos**

Cada valor en un programa tiene un tipo de dato específico. Existe
* Cadena de caracteres, llamado string, (str).
* Entero o intergers (int).
* Número de punto flotante (float).

## Enteros o Intergers (int)
 * Representa números enteros positivos o negativos como 3, 27, 23456 o -512.

In [ ]:
# Ejemplos
print(12)
print(2850)
print(-3)

In [ ]:
# Ejercicio: Crea una variable x, asigne un valor entero.

## Número de punto flotante (float)
 * Representa números reales como 3.14159 o -2.5.

In [ ]:
# Ejemplos
print(3.268)
print(-20.14)
print(1.666666666666667)

In [ ]:
# Crea la variable precio y asigna un valor de número de punto flotante.

## Función de tipo
* Podemos verificar el tipo de datos del valor que se asigna a una variable usando la función **type ()**.
* Pero recuerda: el valor tiene el tipo y la variable es solo una etiqueta.

In [ ]:
# Ejemplos

dias_semana = 7
print(type(dias_semana)) 

numero_pi = 3.1416
print(type(numero_pi)) 

fecha_de_navidad = "25 de diciembre"
print(type(fecha_de_navidad))

In [ ]:
# ejercicio: que tipo de valor las variables inversion = ahorro; tipo_de_cambio = 0.96

In [ ]:
# Puede mezclar enteros y números de punto flotantes libremente en las operaciones.
# Python 3 convierte automáticamente los enteros en números de puntos flotantes según sea necesario.

print('la mitad de 1 es', 1 / 2.0)
print('tres al cuadrado es', 3**2)

### Las variables solo cambian de valor cuando se les asigna algo.

In [ ]:
num1 = 2
num2 = 3
print(num1 + num2) # suma
print(num1 - num2) # resta
print(num1 * num2) # multiplicacion
print(num1 / num2) # division

In [ ]:
first = 1
second = 5 * first

print('first is', first, 'and second is', second)

Los números enteros y de numeros punto  flotante no pueden concatenarse, sin primero convertirse en una cadena.

Para convertir un número entero o flotante en una cadena, podemos usar la función str().

In [ ]:
# Cree una variable llamada "arroz", o su comida favorita, y asígnele un valor entero.
# Luego imprima una oración breve usando la concatenación y la función str () para imprimir el valor de la variable.
arroz = 2
print ("Me gustaría " + str(arroz) + " pedido(s) de arroz, por favor.")

# Sugerencia: tenga en cuenta el espacio después de "me gusta" y antes de "pedido (s)".

In [ ]:
print ("Me gustaría " + "2" + " pedido(s) de arroz, por favor.")

### Puntos clave

#### Variables y Asignación 
* Usa print para mostrar los valores.
* Usa variables para guardar valores.
* El orden de ejecución en las celdas es importante en un notebok.
* Las variables deben ser creadas antes de ser utilizadas.
* Las variables pueden ser usadas en cálculos.
* Usa un índice para obtener un solo carácter de una secuencia de caracteres.
* Usa un corte para obtener una parte de una secuencia de caracteres.
* Usa la función incorporada len para encontrar la longitud de una secuencia de caracteres.
* Python distingue mayúsculas de minúsculas.
*  Recomendación: Usa nombres de variables significativos

#### Tipos de Datos y Conversión de Tipos
* Cada valor tiene un tipo.
* Use la función type para encontrar el tipo de un valor.
* Los tipos controlan qué operaciones se pueden hacer con los valores.
* A las secuencias de caracteres se les pueden agregar y multiplicar.
* Las secuencias de caracteres tienen una longitud (pero los números no).
* Se deben convertir números a secuencias de caracteres o viceversa cuando se opera con ellas.
* Se pueden mezclar enteros y puntos flotantes libremente en operaciones.
* Las variables solo cambian de valor cuando se les asigna algo.